body
{
    background-color: #AACD4B;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12pt;	
    text-align: justify;
    text-indent:3em;
    padding: 20рх;	    
}
img
{
    clear:both;
    display:inline;
    float:right;
    border:ridge 10px #DBDBDB;
    border-radius:5px;
    width:300px;
    height:auto;
    margin:20px 0px 20px 20px;
}
img.style2
{
    clear:both;
    float:right;
    border:ridge 5px #DBDBDB;
    border-radius:5px;
    width:200px;
    height:150px;
    margin:0px 0px 20px 20px;
    display:inline;
}
.imghelper1 {
    float:right;
    height:100px;
    clear:both;
}
.imghelper2 {
    float:right;
    height:60px;
    clear:both;
}
h1
{
    font-size: 18pt;	
    font-weight: bold;	
    text-align: start;
    line-height:80px;
}
h2
{
    font-size: 15pt;
    font-weight: bold;
    font-style:oblique;
    text-align: start;
    line-height:50px;
}
specText
{
    font-style: italic;
    font-size: 8pt;
    text-decoration: underline;
}
ul, ol
{
    list-style-position:inside;
    margin-left:5px;
    text-align: justify;
    text-indent:1em;
    font-style:oblique;
    font-weight:bolder;
}
ul li
{
    padding-bottom: 20px;
}
ol li
{
    padding-bottom: 20px;
} 
table.style1
{
    text-indent:0px;
    caption-side:top;	
    margin-left:auto;	
    margin-right:auto;	
    width: 90%;	
    vertical-align: middle; 
    border-collapse: collapse; 
    text-align: center; 
    border-spacing: 0px; 
    background-color: #dfff94;
}
table.style2
{
    text-indent:0px;
    caption-side:top;	
    margin-left:auto;	
    margin-right:auto;	
    width: 70%;	
    vertical-align: middle; 
    border-collapse: collapse; 
    text-align: center; 
    border-spacing: 0px; 
    background-color: #dfff94;
}
tr, td, th
{
    border: 2px solid #4b545f; 
    padding: 10px; 
    min-height: 20px;
}
th
{
    font-size: 11pt;
    font-style: normal;
    color: #FFFFFF;
    font-weight: bold;
    background-color: #5f6975;
    background-position: center center;
    padding: 10px;
    text-align: center;
}
caption
{
    text-transform: capitalize; 
    font-size: 14pt; 
    padding: 6px; 
    font-weight: bold;
}
.td_left
{
    font-weight:bold;
    text-indent:1em;
    text-align: left;
}
table ul
{
    padding-left: 10px;	
}