body
{
    background-color: #AACD4B;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12pt;
    padding: 20рх;	    
}
h2
{
    font-size: 18pt;
    font-weight: bold;	
    text-align: center;
    padding-bottom: 50рх;
}